/* 
MAIN STYLESHEET
Author: Zimit Media
*/

/* ========================================= */
/* TYPED JS                                  */
/* ========================================= */

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}


/* ========================================= */
/* BANNER                                    */
/* ========================================= */

.banner {
	background-position: center center !important;
	background-size: cover !important;
	position: relative;
	overflow: hidden;
}
.banner .parallax-bg {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 150%;
	background-position: center center !important;
	background-size: cover !important;
	top: -20%;
}
.banner .overlay {
	position: absolute;
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}
.banner .content {
	position: absolute;
	z-index: 3;
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.banner .content .banner-display {
	max-height: 350px;
	margin-top: 50px;
}
.banner .content .text {
	margin: 50px 0 0;
}


/* ========================================= */
/*  WELCOME                                  */
/* ========================================= */

.welcome {
	padding: 50px 0 80px;
	text-align: center;
}
.welcome .welcome-text {
	font-size: 3.1em;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
}
.welcome .welcome-text .Christ {
	color: #3D7FD1;
}
.welcome .content p {
	font-size: 1.4em;
	line-height: 1.5em;
}

/* ========================================= */
/*  CAROUSEL                                 */
/* ========================================= */

.featured {
	padding: 50px 0 40px;
}
.featured-container {
	position: relative;
	display: none;
}
.featured-container .featured-item {
	outline: none;
}
.featured-container .featured-item .container {
	padding: 40px;
	color: #FFFFFF;
	background-position: center center;
	background-size: cover;
	background-color: #4F4F4F;
	height: 450px;
	overflow: hidden;
	position: relative;
}
.featured-container .featured-item .container .overlay-under {
	background: #000000;
	opacity: 0.3;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.featured-container .featured-item .container:hover .overlay-under {
	background: #FFFFFF;
	opacity: 0.7;
}
.featured-container .featured-item .container h2 {
	position: absolute;
	bottom: 0;
	width: 100%;
	right: 0;
	text-align: right;
	line-height: 1em;
	z-index: 2;
	padding: 20px;
	margin: 0;
	font-weight: 900;
	font-size: 2.7em;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.featured-container .featured-item .container:hover h2 {
	color: #212121;
}
.featured-container .featured-item .container a .overlay-over {
	background: #FFFFFF;
	opacity: 0;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 4;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*Buttons*/
.featured-container .carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	padding: 0;
	font-size: 2.5em;
	background: none;
	color: #212121;
	border: none;
	outline: none;
	opacity: 0;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.featured-container:hover .carousel-button {
	opacity: 1;
}
.featured-container .carousel-button.prev {
	left: 10px;
}
.featured-container .carousel-button.next {
	right: 10px;
}
.featured-container ul.slick-dots {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	bottom: -35px;
	width: 100%;
	opacity: 0.7;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.featured-container:hover ul.slick-dots {
	opacity: 1;
}
.featured-container ul.slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.featured-container ul.slick-dots li button {
	outline: none;
	background: #212121;
	color: #212121;
	height: 17px;
	width: 17px;
	overflow: hidden;
	border-radius: 50%;
	font-size: 0em;
	opacity: 0.5;
	padding: 0;
}
.featured-container ul.slick-dots li.slick-active button {
	opacity: 1;
}


/* ========================================= */
/*  PASTORS                                  */
/* ========================================= */

.pastors {
	/*background: url('../images/background/city-blurred.jpg');*/
	background: #212121;
	background-size: cover;
	background-position: center center;
	color: #FFFFFF;
}
.pastors .photo {
	text-align: center;
}
.pastors .photo img {
	width: 100%;
	max-width: 550px;
	height: auto;
	margin: -30px 0;
	display: inline-block;
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.18);
	box-shadow: 0 10px 20px rgba(0,0,0,0.18);
	/*border: 10px solid #FFFFFF;*/
}
.pastors .content {
	padding: 40px 10px;
	text-align: center;
}
.pastors .content h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 900;
}
.pastors .content p {
	font-size: 1.3em;
}

/* ========================================= */
/*  CUSTOM SECTION                           */
/* ========================================= */

.custom-section {
	background: #FFFFFF;
	padding: 0;
	margin: 0;
}


/*==============================*/
/* MEDIA QUERIES                */
/*==============================*/

/*
SMALL ONLY <640px
*/
@media screen and (max-width: 39.9375em) {
	.welcome .welcome-text {
		font-size: 1.85em;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	.welcome .content p {
		font-size: 1.1em;
	}
	.pastors .content h1 {
		font-size: 2em;
	}
	.pastors .content p {
		font-size: 1.1em;
	}

	/*featured*/
	.featured-container .featured-item .container {
		height: 320px;
	}
	.featured-container .featured-item .container h2 {
		font-size: 2em;
	}
}

/*
MEDIUM ONLY <1024px and >=640px
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/*
MEDIUM BELOW <1024px
*/

@media screen and (max-width: 63.9375em) {
	.banner .content .banner-display {
		max-width: 90%;
	}
}

/*
LARGE AND UP >=1024px
*/
@media screen and (min-width: 64em) {

}

/*
LARGE ONLY
*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}