/* 
MAIN STYLESHEET
Author: Zimit Media
*/

/* ========================================= */
/* TYPED JS                                  */
/* ========================================= */

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}


/* ========================================= */
/* BANNER                                    */
/* ========================================= */

.banner {
	background-position: center center !important;
	background-size: cover !important;
	position: relative;
	overflow: hidden;
}
.banner .parallax-bg {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 150%;
	background-position: center center !important;
	background-size: cover !important;
	top: 0;
}
.banner .overlay {
	position: absolute;
	background: rgba(0,0,0,0.2);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}
.banner .content {
	position: absolute;
	z-index: 3;
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.banner .content .banner-display {
	max-height: 270px;
	margin-top: 50px;
}
.banner .content .text {
	margin: 50px 0 0;
}


/* ========================================= */
/* WELCOME                                   */
/* ========================================= */

.welcome {
	padding: 50px 0;
	text-align: center;
}
.welcome .welcome-text {
	font-size: 3.1em;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
}
.welcome .welcome-text .Christ {
	color: #3D7FD1;
}
.welcome .content p {
	font-size: 1.4em;
	line-height: 1.5em;
}


/*==============================*/
/* MEDIA QUERIES                */
/*==============================*/

/*
SMALL ONLY <640px
*/
@media screen and (max-width: 39.9375em) {
	
}

/*
MEDIUM ONLY <1024px and >=640px
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/*
MEDIUM BELOW <1024px
*/

@media screen and (max-width: 63.9375em) {
	
}

/*
LARGE AND UP >=1024px
*/
@media screen and (min-width: 64em) {

}

/*
LARGE ONLY
*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}