/* 
MAIN STYLESHEET
Author: Zimit Media
*/

/* ========================================= */
/* STRUCTURE                                 */
/* ========================================= */

body {
	font-family: 'Raleway', sans-serif;
	color: #555555;
}

/*Clearfix*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
	clear: both;
}

.wrapper {
	width: 100%;
	max-width: 974px;
	margin: 0 auto;
}
.wrapper-big {
	width: 100%;
	max-width: 1274px;
	margin: 0 auto;
}