/* 
MAIN STYLESHEET
Author: Zimit Media
*/

/* ========================================= */
/* STRUCTURE                                 */
/* ========================================= */

body {
	font-family: 'Raleway', sans-serif;
	color: #555555;
}
body.not-front-page {
	background: #E9E9E9;
}
body.page {
	background: #FFFFFF;
}

/*Clearfix*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
	clear: both;
}

/*Wrapper*/
.wrapper {
	width: 100%;
	max-width: 972px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrapper-medium {
	width: 100%;
	max-width: 1322px;
	margin: 0 auto;
	padding: 0 10px;
}
.wrapper-big {
	width: 100%;
	max-width: 1622px;
	margin: 0 auto;
	padding: 0 10px;
}

/*links*/
.site-content a:link,
.site-content a:visited {
	text-decoration: none;
	color: #3D7FD1;
	outline: 0;
}
.site-content a:hover {
	color: #609BE4;
	text-decoration: underline;
	outline: 0;
}


/*fullpage*/
.full-page {
	width: 100%;
	height: 100vh;
	max-height: 1024px;
	min-height: 600px;
}

/*Button*/
a.btn {
	display: inline-block;
	padding: 15px 30px;
	background: #D09797;
	color: #9D3636;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 26px;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
a.btn:hover {
	background: #FFBBBB;
	text-decoration: none;
}
a.btn.btn-transparent-white {
	background: rgba(0,0,0,0);
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
}
a.btn.btn-transparent-white:hover {
	background: rgba(0,0,0,0.75);
}
a.btn.btn-transparent-black {
	background: rgba(255,255,255,0);
	border: 2px solid #000000;
	color: #000000;
}
a.btn.btn-transparent-black:hover {
	background: rgba(0,0,0,1);
	color: #FFFFFF;
}
a.btn.btn-transparent-gray {
	background: rgba(61, 127, 209, 0);
	border: 2px solid #555555;
	color: #555555;
}
a.btn.btn-transparent-gray:hover {
	background: rgba(61, 127, 209, 1);
	border: 2px solid #3D7FD1;
	color: #FFFFFF
}
a.btn-expanding:hover {
	padding: 15px 40px;
}

.text-accent {
	color: #3D7FD1;
}

.header-spacer {
	height: 59px;
}

a {
	outline: none !important;
}

.screen-reader-text {
	height: 0;
	width: 0;
}




/* ========================================= */
/* HEADER and NAV                            */
/* ========================================= */

#ccgm-header {
	/*background: rgba(0,0,0,0.9);*/
	background: #000000;
	position: fixed;
	padding: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
#ccgm-header.front-page.top-position {
	padding: 12px 0 0;
	background: rgba(0,0,0,0);
}
#ccgm-header .logo-container {
	margin-left: 10px;
	float: left;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
#ccgm-header.front-page.top-position .logo-container {
	transform: scale(1.2) translateX(10px);
}
#ccgm-header .logo-container a {
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	outline: none;
}
#ccgm-header .logo-container .logo {
	max-height: 32px;
	margin: 10px 5px 10px 0;
	float: left;
}
#ccgm-header .logo-container h1 {
	padding: 0;
	margin: 11px 0 10px;
	font-size: 1.6em;
	display: inline-block;
}
#ccgm-header .menu-container {
	display: inline-block;
}
#ccgm-header .menu-container ul.menu {
	list-style-type: none;
	margin: 0 0 0 40px;
	padding: 0;
	display: inline-block;
}
#ccgm-header .menu-container li.menu-item {
	display: inline-block;
}
#ccgm-header .menu-container li.menu-item a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Josefin Sans', 'Raleway', sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	padding: 19px 8px;
	display: inline-block;
	position: relative;
	outline: 0;
}
#ccgm-header .menu-container li.menu-item.current-menu-item a,
#ccgm-header .menu-container li.menu-item.current_page_parent a,
#ccgm-header .menu-container li.menu-item.current-page-ancestor a {
	/*color: #A9CBF5;*/
	color: #3D7FD1;
	font-weight: bold;
}
#ccgm-header .menu-container li.menu-item a::before {
	position: absolute;
	display: block;
	content: '';
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	width: 0;
	background: #FFFFFF;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
#ccgm-header.front-page.top-position .menu-container li.menu-item a::before {
	background: #FFFFFF;
}
#ccgm-header .menu-container li.menu-item a:hover::before {
	width: 100%;
}

/*Mobile Menu and Button*/
.mobile-menu-button-container {
	float: left;
}
.mobile-menu-button {
	background: none;
	border: none;
	outline: none;
	color: #FFFFFF;
	font-size: 1.7em;
	padding: 5px;
	margin: 11px 20px 0 5px;
}


/* ========================================= */
/* FOOTER                                    */
/* ========================================= */

.site-footer {
	background: #000000;
	color: #FFFFFF;
}
.site-footer .content {
	padding: 30px 0 20px;
	font-weight: 200;
}
.site-footer .content p {
	font-size: 0.9em;
	margin: 0;
}
.site-footer .content .footer-title {
	margin: 10px 0;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 0.1em;
	font-size: 1.6em;
}
.site-footer .footer-footer {
	padding: 10px 0;
	color: #B4B4B4;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

/*Main Footer Menu*/
.footer-nav {
	border-bottom: 1px solid #0E0E0E;
}
#footer-nav-menu {
	padding: 10px 0;
	margin: 0;
	list-style-type: none;
}
#footer-nav-menu > li {
	display: inline-block;
	padding: 10px 7px;
}
#footer-nav-menu > li:nth-of-type(1) {
	padding-left: 0;
}
#footer-nav-menu > li a {
	text-decoration: none;
	color: #B4B4B4;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 0.7em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
#footer-nav-menu > li a:hover {
	color: #FFFFFF;
}


/* ========================================= */
/* ACTIVITY INFO SECTION                     */
/* ========================================= */

.page .activity-info {
	border-top: 1px solid #E7E7E7;
}
.activity-info {
	padding: 60px 0 70px;
	text-align: center;
	background: #FFFFFF;
}
.activity-info .schedule {
	padding: 0 20px !important;
	text-align: center;
}
.activity-info h2 {
	margin: 0 0 40px;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2.4em;
	line-height: 1em;
}
.activity-info .schedule p {
	font-size: 1.3em;
	margin: 5px 0;
}
.activity-info .schedule .schedule-table {
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #555555;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}
.activity-info .schedule .schedule-table thead {
	background: #707070;
	color: #FFFFFF;
	text-transform: uppercase;
}
.activity-info .schedule .schedule-table thead td {
	padding: 10px 10px;
	font-weight: bold;
	letter-spacing: 0.1em
}
.activity-info .schedule .schedule-table tbody td {
	padding: 10px 10px;
	font-weight: normal;
}
.activity-info .schedule .schedule-table tbody tr:nth-of-type(even) {
	background: #E2E2E2;
}
.activity-info .schedule .schedule-table tbody tr:nth-of-type(odd) {
	background: #EDEDED;
}
.activity-info .acf-map {
	border-radius: 8px;
	border: solid 1px #C5C5C5;
	overflow: hidden;
}

/* ========================================= */
/* RECENT POSTS SECTION                      */
/* ========================================= */

.recent-posts {
	background: #EBEBEB;
	padding: 75px 0;
	text-align: center;
	margin: 0 !important;
}
.recent-posts h2.section-title {
	font-size: 3em;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 0;
}
.recent-posts .posts-strip {
	margin: 20px 0 40px;
}


/* ========================================= */
/* BLOG                                      */
/* ========================================= */

.blog-area {
	margin: 40px 0;
}
.blog-area article.article-item {
	margin-bottom: 30px;
	padding: 0 15px;
}
.blog-area article.article-item .article-box {
	background: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #DBDBDB;
	overflow: hidden;
}
.blog-area article.article-item .article-box .article-thumbnail-container {
	display: block;
	overflow: hidden;
	position: relative;
}
.blog-area article.article-item .article-box .article-thumbnail {
	width: 100%;
	padding-bottom: 60%;
	background-position: center center;
	background-size: cover;
	background-color: #404E5F;
	-webkit-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}
.blog-area article.article-item .article-box .article-thumbnail-container .overlay {
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.blog-area article.article-item .article-box .article-thumbnail-container:hover .overlay {
	opacity: 1;
}
.blog-area article.article-item .article-box .article-thumbnail-container:hover .article-thumbnail {
	transform: scale(1.1);
}
.blog-area article.article-item .article-content {
	padding: 15px;
	position: relative;
	height: 200px;
	overflow: hidden;
	text-align: left;
}
.blog-area article.article-item .article-content::after {
	content: '';
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: #FFFFFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Standard syntax */
}
.blog-area article.article-item .article-content .article-title {
	font-size: 1.05em;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}
.blog-area article.article-item .article-content p {
	font-size: 1em;
}
.blog-area article.article-item .article-footer {
	padding: 15px;
	text-align: right;
}
.blog-area article.article-item .article-footer a.read-more {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #555555;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	padding: 7px 10px;
	border-radius: 3px;
}
.blog-area article.article-item .article-footer a.read-more:hover {
	background: #3D7FD1;
	color: #FFFFFF;
}


/*==============================*/
/* SINGLE POST                  */
/*==============================*/

.single-page-post {
	padding: 30px 0;
}
.single-page-post article.post-article {
	background: #FFFFFF;
	border: 1px solid #E1E1E1;
}
.single-page-post .article-header {
	min-height: 400px;
	background-size: cover;
	background-position: center center;
	background-color: #555555;
	color: #FFFFFF;
	position: relative;
}
.single-page-post .article-header .overlay {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.single-page-post .article-header .content {
	position: absolute;
	z-index: 2;
	width: 60%;
	bottom: 0;
	left: 0;
	padding: 10px 20px;
}
.single-page-post .article-header .content .article-title {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2.5em;
	margin: 0;
	line-height: 1.2em;
}
.single-page-post .article-header .content .article-meta p {
	margin: 10px 0;
	font-size: 0.9em;
}
.single-page-post .article-header .author-avatar {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 3;
	height: 64px;
	width: 64px;
	border-radius: 50%;
	overflow: hidden;
}

/*Search Form*/
.single-page-post .article-header .search-form {
	position: absolute;
	z-index: 3;
	top: 20px;
	right: 20px;
}
.single-page-post .article-header .search-form .searchform {
	display: flex;
	border-radius: 19px;
	overflow: hidden;
}
.single-page-post .article-header .search-form .searchform .searchbox {
	flex-grow: 1;
	padding: 8px 20px;
	border-radius: 0;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	outline: none;
}
.single-page-post .article-header .search-form .searchform .searchbox::placeholder {
	color: #C8C8C8;
}
.single-page-post .article-header .search-form .searchform button {
	border-radius: 0;
	border: none;
	background: #3D7FD1;
	color: #FFFFFF;
	font-size: 0.9em;
	outline: none;
}
.single-page-post .article-header .search-form .searchform button:hover {
	background: #68A2EA;
}

/*Content*/
.single-page-post .article-content {
	padding: 20px 40px;
}


/*==============================*/
/* PAGE  POST                  */
/*==============================*/

.page-article .page-header.has-post-thumbnail {
	min-height: 180px;
	position: relative;
	color: #FFFFFF;
	background-size: cover;
	background-position: center center;
}
.page-article .page-header {
	min-height: 130px;
	position: relative;
	color: #FFFFFF;
	background: #3D7FD1;
}
.page-article .page-header.has-post-thumbnail .overlay {
	position: absolute;
	z-index: 1;
	background: rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.page-article .page-header .content {
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
}
.page-article .page-header .content h1 {
	font-size: 3em;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0 0 20px;
	display: inline-block;
}
.page-article .page-header .content a.post-edit-link {
	color: #FFFFFF;
	display: inline-block;
	padding: 5px 15px;
	margin-left: 10px;
	text-transform: uppercase;
	opacity: 0.4;
	border-radius: 3px;
	font-size: 0.9em;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.page-article .page-header .content a.post-edit-link:hover {
	background: rgba(0, 0, 0, 0.5);
	opacity: 1;
	text-decoration: none;
}

/*Content*/
.page-article .page-content {
	padding-top: 30px;
	margin: 0 0 80px;
	font-size: 1.1rem;
}
.page-article .page-content .no-content-found {
	text-align: center;
	margin: 100px 0;
	font-size: 4em;
	font-weight: 900;
	color: #C2C2C2;
}

/*Events Manager Plugin*/
.page-article .em-search-wrapper {
	max-width: 500px;
	margin: 0 auto;
}
.page-article .em-search-main .em-search-submit {
	background: #3D7FD1 !important;
	border: none !important;
}
.page-article .css-events-list table.events-table {
	border-radius: 8px;
	overflow: hidden;
}
.page-article .css-events-list table.events-table td,
.page-article .css-events-list table.events-table th {
	padding: 15px 13px;
}
.page-article .css-events-list table.events-table thead {
	text-align: left;
	background: #707070;
    color: #FFFFFF;
    text-transform: uppercase;
}
.page-article .css-events-list table.events-table th.event-time {
	width: auto;
}
.page-article .css-events-list table.events-table tbody tr:nth-of-type(odd) {
	background: #EDEDED;
}
.page-article .css-events-list table.events-table tbody tr:nth-of-type(even) {
	background: #E2E2E2;
}
.page-article .css-events-list table.events-table tbody td a {
	font-weight: bold;
}
/*Events Manager Single*/
.single-page-post .post-article.event .article-header {
	min-height: 200px;
}
.single-page-post .post-article.event .article-header .search-form,
.single-page-post .post-article.event .article-header .article-meta,
.single-page-post .post-article.event .article-header .author-avatar {
	display: none;
}
.page-article.event .em-booking-login label {
	width: auto;
	max-width: 130px;
}
.page-article.event .em-booking-login {
	border-left: 3px solid #CCCCCC;
}



/*==============================*/
/* FEATURED POSTS CAROUSEL      */
/*==============================*/

.featured-posts {
	position: relative;
}
.featured-posts h1.featured-title {
	position: absolute;
	top: 15px;
	left: 15px;
	color: #FFFFFF;
	font-size: 1em;
	z-index: 10;
	margin: 0;
	line-height: 1em;
	opacity: 0.7;
	text-transform: uppercase;
}
.featured-posts .featured-post {
	position: relative;
	min-height: 450px;
	background-size: cover;
	background-position: center center;
	color: #FFFFFF;
}
.featured-posts .featured-post .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.featured-posts .featured-post:hover .overlay {
	background: rgba(0, 0, 0, 0.5);
}
.featured-posts .featured-post .content {
	position: absolute;
	z-index: 2;
	text-align: center;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.featured-posts .featured-post .content h2.post-title {
	font-size: 2.4em;
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
}
.featured-posts .featured-post .content .excerpt {
	font-size: 1.1em;
	margin-bottom: 30px;
	display: block;
}
.featured-posts-carousel {
	position: relative;
}
.featured-posts-carousel .carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	padding: 0;
	font-size: 2.5em;
	background: none;
	color: #FFFFFF;
	border: none;
	outline: none;
	opacity: 0;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.featured-posts-carousel:hover .carousel-button {
	opacity: 1;
}
.featured-posts-carousel .carousel-button.prev {
	left: 10px;
}
.featured-posts-carousel .carousel-button.next {
	right: 10px;
}
.featured-posts-carousel ul.slick-dots {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	bottom: 15px;
	width: 100%;
	opacity: 0.7;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.featured-posts-carousel:hover ul.slick-dots {
	opacity: 1;
}
.featured-posts-carousel ul.slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.featured-posts-carousel ul.slick-dots li button {
	outline: none;
	background: #FFFFFF;
	color: #FFFFFF;
	height: 17px;
	width: 17px;
	overflow: hidden;
	border-radius: 50%;
	font-size: 0em;
	opacity: 0.5;
}
.featured-posts-carousel ul.slick-dots li.slick-active button {
	opacity: 1;
}


/*==============================*/
/* SEARCH FORM                  */
/*==============================*/

/*Main Search Form*/
.main-search-form {
	margin: 40px 0;
}
.main-search-form .searchform {
	display: flex;
	border-radius: 28px;
	overflow: hidden;
}
.main-search-form .searchform .searchbox {
	flex-grow: 1;
	outline: none;
	padding: 15px 30px;
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	border-radius: 0;
	border: none;
	color: #555555;
}
.main-search-form .searchform .searchbox::placeholder {
	color: #C8C8C8;
}
.main-search-form .searchform #searchsubmit {
	border-radius: 0;
	border: none;
	background: #3D7FD1;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0 30px;
}
.main-search-form .searchform #searchsubmit:hover {
	background: #68A2EA;
}


/*==============================*/
/* MEDIA QUERIES                */
/*==============================*/

/*
SMALL ONLY <640px
*/
@media screen and (max-width: 39.9375em) {
	/*Activity Section*/
	.activity-info .location {
		padding: 0 10px !important;
	}
}

/*
MEDIUM ONLY <1024px and >=640px
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	/*Activity Section*/
	.activity-info .location {
		padding: 0 20px !important;
	}
}

/*
MEDIUM BELOW <1024px
*/

@media screen and (max-width: 63.9375em) {
	#ccgm-header.front-page.top-position {
		padding: 0;
	}
	#ccgm-header.front-page.top-position .logo-container {
		transform: inherit;
		margin: 0;
	}

	/*Activity Section*/
	.activity-info .schedule {
		padding: 0 0 30px !important;
	}

}

/*
LARGE AND UP >=1024px
*/
@media screen and (min-width: 64em) {

}

/*
LARGE ONLY
*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}